public net.minecraft.client.renderer.LevelRenderer m_109817_()Z # shouldShowEntityOutlines
public net.minecraft.client.renderer.LevelRenderer f_109464_ # renderBuffers

public net.minecraft.client.renderer.entity.EntityRenderDispatcher f_114362_ # renderers
public-f net.minecraft.client.renderer.entity.EntityRenderer f_346281_ # reusedState
public-f net.minecraft.client.renderer.entity.EntityRenderer m_356383_(Lnet/minecraft/world/entity/Entity;F)Lnet/minecraft/client/renderer/entity/state/EntityRenderState; # createRenderState
public net.minecraft.client.renderer.entity.LivingEntityRenderer m_354794_(Lnet/minecraft/world/entity/LivingEntity;FF)F # solveBodyRot

public-f net.minecraft.client.model.Model m_7695_(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;III)V # renderToBuffer
public net.minecraft.client.model.geom.ModelPart$Cube
public net.minecraft.client.model.geom.ModelPart f_104212_ # cubes

public com.mojang.blaze3d.vertex.BufferBuilder f_85661_ # building

public net.minecraft.client.renderer.texture.AbstractTexture f_348591_ # defaultBlur

# TEMP FOR BUFFERBUILDER
public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator
public com.mojang.blaze3d.vertex.VertexMultiConsumer$Double
public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator <init>(Lcom/mojang/blaze3d/vertex/VertexConsumer;I)V # <init>
public com.mojang.blaze3d.vertex.VertexMultiConsumer$Double f_86171_ # first
public com.mojang.blaze3d.vertex.VertexMultiConsumer$Double f_86172_ # second