# Gradle
.gradle/
build/
out/
classes/

# Quilt Loom
remappedSrc/
run/

# Eclipse
*.launch

# IntelliJ Idea
.idea/
*.iml
*.ipr
*.iws

# Fleet
.fleet/

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# Eclipse JDT LS
workspace/

# macOS
*.DS_Store
