[versions]
# GeckoLib
    geckolib = "5.5"

# Common
    minecraft = { strictly = "[26.1,)", prefer = "26.1-snapshot-7" }
    loom-mc = "26.1-snapshot-7"
    neoform = "26.1-snapshot-7-1"
    java = "25"

# Fabric
    fabric = "0.18.4"
    fabric-range = ">=0.18"
    fabric-api = "0.143.5+26.1"
    fabric-api-range = ">=0.143.5+26.1"

# Forge
    forge-fml = { strictly = "[61,)", prefer = "61" }
    forge = { strictly = "[61.0.0,)", prefer = "61.0.6" }
    forge-eventbusvalidator = "7.0-beta.10"

# Neoforge
    neoforge-loader = { strictly = "[5,)", prefer = "5" }
    neoforge = { strictly = "[26.1.0.0,)", prefer = "26.1.0.0-alpha.12+snapshot-7" }

# Dependencies
    mixin = "0.8.7"
    mixinextras = { strictly = "[0.5.0,)", prefer = "0.5.0" }
    examplemod = "1.0.0"

# Plugins
    plugin-moddevgradle = "2.0.140"
    plugin-minotaur = "2.8.10"
    plugin-curseforge-gradle = "1.1.28"
    plugin-forge-gradle = "[7.0.0,)"
    plugin-forge-at = "[5.0.1,)"
    plugin-loom = "1.15-SNAPSHOT"

[libraries]
# Common
    minecraft = { group = "com.mojang", name = "minecraft", version.ref = "minecraft" }
    loom-minecraft = { group = "com.mojang", name = "minecraft", version.ref = "loom-mc" }
    mixin = { group = "org.spongepowered", name = "mixin", version.ref = "mixin" }
    mixinextras-common = { group = "io.github.llamalad7", name = "mixinextras-common", version.ref = "mixinextras" }

# Fabric
    fabric = { group = "net.fabricmc", name = "fabric-loader", version.ref = "fabric" }
    fabric-api = { group = "net.fabricmc.fabric-api", name = "fabric-api", version.ref = "fabric-api" }

# Forge
    forge = { group = "net.minecraftforge", name = "forge-26.1", version.ref = "forge" }
    forge-eventbusvalidator = { group = "net.minecraftforge", name = "eventbus-validator", version.ref = "forge-eventbusvalidator" }

# NeoForge
    neoforge = { group = "net.neoforged", name = "neoforge", version.ref = "neoforge" }

# Testing
    examplemod-common = { group = "com.geckolib.geckolib", name = "geckolib-examples-ml-common-26.1", version.ref = "examplemod" }
    examplemod-fabric = { group = "com.geckolib.geckolib", name = "geckolib-examples-ml-fabric-26.1", version.ref = "examplemod" }
    examplemod-forge = { group = "com.geckolib.geckolib", name = "geckolib-examples-ml-forge-26.1", version.ref = "examplemod" }
    examplemod-neoforge = { group = "com.geckolib.geckolib", name = "geckolib-examples-ml-neoforge-26.1", version.ref = "examplemod" }

[plugins]
# Publishing
    minotaur = { id = "com.modrinth.minotaur", version.ref = "plugin-minotaur" }
    curseforgegradle = { id = "net.darkhax.curseforgegradle", version.ref = "plugin-curseforge-gradle" }

# Platform
    moddevgradle = { id = "net.neoforged.moddev", version.ref = "plugin-moddevgradle" }
    forgegradle = { id = "net.minecraftforge.gradle", version.ref = "plugin-forge-gradle" }
    forge-at = { id = "net.minecraftforge.accesstransformers", version.ref = "plugin-forge-at" }
    loom = { id = "net.fabricmc.fabric-loom", version.ref = "plugin-loom" }